In [1]:
# Date & Time in python

In [2]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-07 17:10:14.316624

In [21]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.month)
print(x.day)
print(x.second)
print(x.strftime("%D"))

2023
6
7
06/07/23

25

In [11]:
import datetime as dt

x = dt.datetime.now()
name = input("Enter name = ")
y = dt.datetime.now()
print(y-x)

Enter name = Ram
0:00:11.074969

In [16]:
type(x)

datetime.datetime

In [19]:
import datetime

x = datetime.datetime.now()
s1 = x.strftime("%S")

name = input("Enter name = ")

y = datetime.datetime.now()
s2 = y.strftime("%S")
int(s2)-int(s1)

Enter name = jgjhgh

4

In [23]:
# Comprehensions: List, Dictionary
l = [i for i in range(0,11)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
l = [int(input("Enter value")) for i in range(5)]
l

Enter value234
Enter value435
Enter value354
Enter value567
Enter value45

[234, 435, 354, 567, 45]

In [25]:
d = {i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
d = {input("Enter name = "):input("Enter phone = ") for i in range(2)}
d

Enter name = ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765

{'ram': '9808778765', 'Shyam': '9808778765'}

In [27]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'billing.txt',
 'bonus.ipynb',
 'classworks.ipynb',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'Dictionary.ipynb',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'ifelse.ipynb',
 'inheritance.ipynb',
 'IO.ipynb',
 'list.ipynb',
 'list_data.csv',
 'loop.ipynb',
 'mysql.ipynb',
 'new_data.csv',
 'oop.ipynb',
 'pandas.ipynb',
 'project.ipynb',
 'set and tuple.ipynb',
 'set.ipynb',
 'string.ipynb',
 'Untitled.ipynb']

In [28]:
os.mkdir('new_folder')

In [29]:
os.chdir('new_folder')

In [30]:
pwd

'C:\\Users\\Aayush\\PythonClass_5pm\\new_folder'

In [31]:
cd ..

C:\Users\Aayush\PythonClass_5pm

In [32]:
os.remove('data.txt')

In [33]:
os.rmdir('new_folder')

In [34]:
os.rename('bill.txt','Bill.txt')

In [36]:
import pandas as pd
data = {'name':['Ram','Shyam','Hari'],
       'age':[45,67,89],
       'add':['Kathmandu','Bhaktapur','Lalitpur']}
df = pd.DataFrame(data)
df.to_json('info.json')
df

    name  age        add
0    Ram   45  Kathmandu
1  Shyam   67  Bhaktapur
2   Hari   89   Lalitpur