In [1]:
# # Dictionary
# -Indexing
# -Multiple data
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>}

In [3]:
d = {"a":"Apple","b":"Ball","c":"Cat","d":"Dog"}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
<class 'dict'>

In [4]:
d = {0:"Apple",1:"Ball",2:"Cat",3:"Dog"}
print(d)
print(type(d))
len(d)

{0: 'Apple', 1: 'Ball', 2: 'Cat', 3: 'Dog'}
<class 'dict'>

4

In [7]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
print(d['a'])

Apple

In [8]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog','A':'Apple'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Apple'}

In [9]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog','a':'Ant'}
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [11]:
#d = dict()
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d['d'] = "Dog"
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [15]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
list(a.values())

['Apple', 'Ball', 'Cat', 'Dog']

In [18]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
list(a.items())

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat'), ('d', 'Dog')]

In [20]:
a = [['a', 'Apple'], ['b', 'Ball'], ['c', 'Cat'], ['d', 'Dog']]
dict(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [21]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
for i in a:
    print(i)

a
b
c
d

In [22]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
for i in a.values():
    print(i)

Apple
Ball
Cat
Dog

In [23]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')
('d', 'Dog')

In [24]:
#Edit and add
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
a['a'] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [25]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
a['A'] = "Ant"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Ant'}

In [26]:
a = {"Ram":9808778765,"Shyam":9808667623}
a["Ram"]

9808778765

In [28]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 980867543
{'Ram': 9808778765, 'Shyam': 980867543}

In [30]:
#list inside dict
d = {'Ram':[9808778765,9808778765], 'Shyam':[980867543,9878778654]}
print(d)
print(d["Ram"])
print(d['Shyam'])

{'Ram': [9808778765, 9808778765], 'Shyam': [980867543, 9878778654]}
[9808778765, 9808778765]
[980867543, 9878778654]

In [32]:
#read
d = {'Ram':[9841786543,9808778765], 'Shyam':[9843990876,9878778654]}
d["Ram"][0]

9841786543

In [34]:
#update
d = {'Ram':[9841786543,9808778765], 'Shyam':[9843990876,9878778654]}
d["Ram"][0] = 9843223216
d

{'Ram': [9843223216, 9808778765], 'Shyam': [9843990876, 9878778654]}

In [36]:
# del
d = {'Ram':[9841786543,9808778765], 'Shyam':[9843990876,9878778654]}
del d['Ram']
d

{'Shyam': [9843990876, 9878778654]}

In [37]:
d = {'Ram':[9841786543,9808778765], 'Shyam':[9843990876,9878778654]}
name = "Hari"
ntc = 9808667654
ncell = 9808778765
d[name] = [ntc,ncell]
d

{'Ram': [9841786543, 9808778765],
 'Shyam': [9843990876, 9878778654],
 'Hari': [9808667654, 9808778765]}

In [38]:
d = {'name':['Ram','Shyam','Hari'],
    'age':[45,67,43],
    'add':["Kathmandu","BHaktapur","Lalitpur"]}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [45, 67, 43],
 'add': ['Kathmandu', 'BHaktapur', 'Lalitpur']}

In [40]:
d = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 67
Enter add = Jhapa
{'name': ['Ram', 'Shyam'], 'age': [89, 67], 'add': ['Kathmandu', 'Jhapa']}