In [1]:
# Python collection
# list
# tuple
# dict
# set

In [2]:
# # list
# Indexing
# Multiple and duplicate
# Ordered
# Mutable

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]
b = ["Apple","Ball","cat","Dog","Fish"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [8]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0])
print(a[-1])
print(a[0:4])
print(a[0:5:2])

Apple
Fish
['Apple', 'Ball', 'cat', 'Dog']
['Apple', 'cat', 'Fish']

In [9]:
a = [1,1.5,"Hello World",True,1,1]
print(a)

[1, 1.5, 'Hello World', True, 1, 1]

In [14]:
a = ["Apple","Ball","cat","Dog","Fish"]
a[0] = "Zebra"
a

['Zebra', 'Ball', 'cat', 'Dog', 'Fish']

In [15]:
# + *
a = ["Apple","Ball","cat","Dog","Fish"]
b = [1,2,3,4,5,6,7]
c = a + b
print(c)

['Apple', 'Ball', 'cat', 'Dog', 'Fish', 1, 2, 3, 4, 5, 6, 7]

In [16]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'cat', 'Dog', 'Fish', 'Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [17]:
a = [1, 2, 3, 4, 5, 6, 7]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [20]:
#a = list()
a = []
x = "Apple"
a = a+[x]
a = a+["Ball"]
a

['Apple', 'Ball']

In [21]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + [x]
    
print(a)

Enter n = 5
Enter x = 12
Enter x = 342
Enter x = 54
Enter x = 234
Enter x = 456
[12, 342, 54, 234, 456]

In [22]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum = ",sum(a))

The max value =  456
The min value =  12
The sum =  1098

In [23]:
a.sort()
print(a)

[12, 54, 234, 342, 456]

In [24]:
a.reverse()
print(a)

[456, 342, 234, 54, 12]

In [26]:
a = ["Zebra","Orange","Apple","Xray","ant"]
a.sort()
print(a)

['Apple', 'Orange', 'Xray', 'Zebra', 'ant']

In [31]:
a = ["Zebra","Orange","Apple","Xray",".ant","1"]
a.sort()
print(a)

['.ant', '1', 'Apple', 'Orange', 'Xray', 'Zebra']

In [32]:
# #To insert values
# append() insert() extend()


# #delete
# del remove() pop()

In [33]:
a = ["Zebra","Orange","Apple","Xray","ant"]
for i in a:
    print(i)

Zebra
Orange
Apple
Xray
ant

In [34]:
#append
a = ["Zebra","Orange","Apple","Xray","ant"]
a.append("Banana")
print(a)

['Zebra', 'Orange', 'Apple', 'Xray', 'ant', 'Banana']

In [35]:
#insert
a = ["Zebra","Orange","Apple","Xray","ant"]
a.insert(1,"Banana")
print(a)

['Zebra', 'Banana', 'Orange', 'Apple', 'Xray', 'ant']

In [36]:
# extend
a = ["Zebra","Orange","Apple","Xray","ant"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Zebra', 'Orange', 'Apple', 'Xray', 'ant', 1, 2, 3, 4, 5]

In [37]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 3
Enter x = 234
Enter x = 234
Enter x = 25
[234, 234, 25]

In [38]:
x = list(input("Enter x = "))
print(x)

Enter x = Apple
['A', 'p', 'p', 'l', 'e']

In [39]:
a = "Apple"
list(a)

['A', 'p', 'p', 'l', 'e']

In [42]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine Apple"]
if "apple" in a:
    print("Yes")
else:
    print("No")

No

In [41]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine Apple"]
a.count("Apple")

1

In [1]:
# #delete
# del remove() pop()

In [3]:
#del
a = ["Zebra","Orange","Apple","Xray","Ant","Pine Apple"]
del a[0]
print(a)

['Orange', 'Apple', 'Xray', 'Ant', 'Pine Apple']

In [4]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine Apple"]
a.index("Zebra")

0

In [5]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine Apple"]
del a[0:2]
print(a)

['Apple', 'Xray', 'Ant', 'Pine Apple']

In [6]:
#remove()
a = ["Zebra","Orange","Apple","Xray","Ant","Pine Apple"]
a.remove("Orange")
print(a)

['Zebra', 'Apple', 'Xray', 'Ant', 'Pine Apple']

In [7]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine" ,"Apple"]
a.remove("Apple")
print(a)

['Zebra', 'Orange', 'Xray', 'Ant', 'Pine', 'Apple']

In [8]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine" ,"Apple"]
a.remove("Apple")
a.remove("Apple")
print(a)

['Zebra', 'Orange', 'Xray', 'Ant', 'Pine']

In [10]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine" ,"Apple"]
n = a.count("Apple")
print(a)
for i in range(n):
    a.remove("Apple")
    
    print(a)

['Zebra', 'Orange', 'Apple', 'Xray', 'Ant', 'Pine', 'Apple']
['Zebra', 'Orange', 'Xray', 'Ant', 'Pine', 'Apple']
['Zebra', 'Orange', 'Xray', 'Ant', 'Pine']

In [15]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine" ,"Apple"]
for i in range(len(a)):
    if a[i] == "Apple":
        print(i)

2
6

In [22]:
a = ["Zebra","Orange","Apple","Xray","Ant","Pine" ,"Apple","Ant"]
for i in a:
    if i[0] == "A":
        print(i)

Apple
Ant
Apple
Ant

In [25]:
# List inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [27]:
print(a[0])
print(a[1])
print(a[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [38]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[2][2]

9

In [39]:
info = [["Ram",78,"Kathmandu"],
       ["Shyam",89,"Bhaktapur"],
       ["Hari",56,"Lalitpur"]]
info

[['Ram', 78, 'Kathmandu'],
 ['Shyam', 89, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur']]

In [40]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
print(info)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bhaktapur
[['Ram', 89, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur']]

In [44]:
info = [['Ram', 89, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur']]

In [42]:
print(info[1])

['Shyam', 78, 'Bhaktapur']

In [43]:
info[0][0]

'Ram'

In [48]:
info[0][0] = "Rama"
info

[['Rama', 89, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur']]

In [49]:
del info[0]
info

[['Shyam', 78, 'Bhaktapur']]

In [51]:
a = [['Rama', 89, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur']]
b = a.pop(1)
print(a)
print(b)

[['Rama', 89, 'Kathmandu']]
['Shyam', 78, 'Bhaktapur']

In [ ]:
# search row data using name 
a = [['Rama', 89, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur']]