In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)

In [11]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python_class_5_pm"
)
db = database.cursor()

In [4]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 87, 80, 81, 87, 421, 80.0, 'F')

In [7]:
db.execute("SELECT sn,name,per,total FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Ram', 80.0, 421)]

In [12]:
# db.execute("SELECT * FROM student WHERE name = 'Ram'")
db.execute("SELECT * FROM student WHERE grade = 'A'")

result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Ram', 78, 87, 80, 81, 87, 421, 80.0, 'A')]

In [2]:
# Insert
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python_class_5_pm"
)
db = database.cursor() 

sql = '''INSERT INTO `student` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ('Ram Prasad', '89', '93', '71', '84', '76', '420', '84', 'A')'''
db.execute(sql)
database.commit()

In [3]:
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali
per = total/5

if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"
    
sql = f'''INSERT INTO student (name, physics, chemistry, math, english, nepali,total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}')'''
db.execute(sql)
database.commit()

Enter name = Akash
Enter physics marks = 89
Enter chemistry marks = 76
Enter math marks = 89
Enter english marks = 56
Enter nepali marks = 89

In [4]:
#Update
grade = input("Enter grade = ")
sn = int(input("Enter sn = "))
sql = f"UPDATE student SET grade = '{grade}' WHERE sn = {sn}"
db.execute(sql)
database.commit()

In [5]:
# delete
sql = "DELETE FROM student WHERE sn = 5"
db.execute(sql)
database.commit()