In [1]:
# WAP to make a billing system in list inside list
# WAp to create a matrix taking row, column and values from users
# WAP to create tuple inside tuple and convert it into list inside list
# WAP to create dict inside list and CRUD operations
# WAP to create dic inside dict and CRUD operations

In [ ]:
bill = []
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    data = [product,price,quantity,total]
    bill.append(data)
    all_total = all_total + total
print(bill)
print(all_total)

In [4]:
bill = ()
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    data = (product,price,quantity,total)
    bill = bill + (data,)
    
print(bill)

Enter n = 2
Enter product name = Apple
Enter price = 300
Enter quantity = 3
Enter product name = Banana
Enter price = 100
Enter quantity = 3
(('Apple', 300, 3.0, 900.0), ('Banana', 100, 3.0, 300.0))

In [8]:
l = []
a = (('Apple', 300, 3.0, 900.0), ('Banana', 100, 3.0, 300.0))
for i in a:
    l.append(list(i))
    
l

[['Apple', 300, 3.0, 900.0], ['Banana', 100, 3.0, 300.0]]

In [10]:
t = ()
a = [['Apple', 300, 3.0, 900.0], ['Banana', 100, 3.0, 300.0]]
for i in a:
    t = t +(tuple(i),)
    
t

(('Apple', 300, 3.0, 900.0), ('Banana', 100, 3.0, 300.0))

In [11]:
# WAP to create dict inside list and CRUD operations
l = [{'name':"Ram",'age':56,'add':"Kathmandu"},
    {'name':"Shyam",'age':36,'add':"Bhaktapur"},
    {'name':"Hari",'age':76,'add':"Lalitpur"}]
l

[{'name': 'Ram', 'age': 56, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 36, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 76, 'add': 'Lalitpur'}]

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = {'name':name,'age':age,'add':add}
    l.append(info)
    
l

Enter n = 2

In [ ]:
# inside set no list no dict, no set

In [ ]:
#dict inside dict
d = {1:{'name': 'Ram', 'age': 56, 'add': 'Kathmandu'},
     2:{'name': 'Shyam', 'age': 36, 'add': 'Bhaktapur'},
     3:{'name': 'Hari', 'age': 76, 'add': 'Lalitpur'}}

In [1]:
d = {}
d[1] = {'name': 'Ram', 'age': 56, 'add': 'Kathmandu'}
d[2] = {'name': 'Shyam', 'age': 36, 'add': 'Bhaktapur'}
d[3] = {'name': 'Hari', 'age': 76, 'add': 'Lalitpur'}
d

{1: {'name': 'Ram', 'age': 56, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 36, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 76, 'add': 'Lalitpur'}}