In [1]:
# for loop
# while loop

In [2]:
# range(5)         #0,1,2,3,4  for(i = 0; i < 5; i++)
# range(1,5)       #1,2,3,4    for(i = 1; i < 5; i++)
# range(1,10,2)    #1,3,5,7,9  for(i = 1; i < 10; i = i+2)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [1]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [8]:
for i in range(5,10):
    print(i,"Hello World")

5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [3]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [5]:
for i in range(5,0,-1):
    print(i * "o")

ooooo
oooo
ooo
oo
o

In [6]:
for i in range(1,11):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********
**********

In [16]:
n = 5
for i in range(1,11):
    print(i*n)

5
10
15
20
25
30
35
40
45
50

In [17]:
n = 5
for i in range(1,11):
    print(n,"*",i,"=",i*n)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [18]:
for i in range(2):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))

    total = physics + chemistry + math + english + nepali

    per = total/5

    print("Hello ",name,"Your total marks is",total,"and per is = ",per)

Enter name = ads
Enter physics marks = 342
Enter chemistry marks = 54
Enter math marks = 345
Enter english marks = 546
Enter nepali marks = 34
Hello  ads Your total marks is 1321 and per is =  264.2
Enter name = wer
Enter physics marks = 465
Enter chemistry marks = 76
Enter math marks = 54
Enter english marks = 76
Enter nepali marks = 54
Hello  wer Your total marks is 725 and per is =  145.0

In [11]:
s = 0
for i in range(5):
    x = int(input("Enter x = "))
    s = s + x
    
    print(s)

Enter x = 1000
1000
Enter x = 2000
3000
Enter x = 5000
8000
Enter x = 6000
14000
Enter x = 3000
17000

In [12]:
s = 1
for i in range(5):
    x = int(input("Enter x = "))
    s = s * x
    
    print(s)

Enter x = 3
3
Enter x = 4
12
Enter x = 2
24
Enter x = 5
120
Enter x = 3
360

In [15]:
# 5! = 1*2*3*4*5
# i = 5
#fac = 24
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter n = 5
1
2
6
24
120

In [21]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter name = ')
    phone = int(input("Enter phone = "))
    x = name +"-"+ str(phone) + "\n"
    info = info + x
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808556543
Ram-9808778765
Shyam-9808556543

In [1]:
# # WAP to create a billing application
# name of product
# price
# quantity
# total

# grand total

In [4]:
bill = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total + total
    data = name +" " + str(price) + " " +str(quantity) + " " +str(total) +"\n"
    bill = bill + data
    
print(bill)
print("All Total",grand_total)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 200
Enter quantity = 4
Apple 300 2 600
Banana 200 4 800

All Total 1400

In [5]:
bill = "Apple 300 2 600\nBanana 200 4 800"
print(bill)

Apple 300 2 600
Banana 200 4 800

In [ ]:
for loop in string