In [1]:
a = 'Hello world'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [18]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:23:2])

H
Hello
HloWrdIa yhn

In [17]:
for i in range(0,23,2):
    print(i,end = " ")

0 2 4 6 8 10 12 14 16 18 20 22

In [19]:
a = "Hello World I am Python"
b = a[0:5]
print(b)

Hello

In [23]:
a = "Python"
a[-2]

'o'

In [27]:
a = "Python"
a[-1:0:-1]

'nohty'

In [28]:
a = "Python"
a[::-1]

'nohtyP'

In [29]:
a = "Python"
print(a[::-1] == a)

False

In [30]:
a = "noon"
print(a[::-1] == a)

True

In [31]:
a = "101"
if a[::-1] == a:
    print("The no is palindrome")
else:
    print("The no is not palindrome")

The no is palindrome

In [34]:
# string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

# info = "Hello World I am "+ name+" I am from " + add + " "+"I am "+str(age)
info = f"Hello World I am {name} I am from {add} I am {age}"
print(info)

Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Hello World I am Ram I am from Kathmandu I am 45

In [35]:
info = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter name = ')
    phone = int(input("Enter phone = "))
    x = f"{name} {phone} \n"
    info = info + x
    
print(info)

Enter n = 2
Enter name = ram
Enter phone = 89
Enter name = Hari
Enter phone = 9808778765
ram 89
Hari 9808778765

In [36]:
a = "Ram Shyam Hari Sita Nita Ramesh Ram"
l = len(a)
print(l)

35

In [45]:
a = "Ram Shyam Hari Sita Nita Ramesh Ram"
search = input("Enter value for search ")
if search in a:
    print("There is",search)
    print(a.count(search))
else:
    print("There is not",search)

Enter value for search ram
There is not ram

In [46]:
# upper()
# lower()
a = "Ram Shyam Hari Sita Nita Ramesh Ram".lower()
a

'ram shyam hari sita nita ramesh ram'

In [47]:
a = "Ram Shyam Hari Sita Nita Ramesh Ram".upper()
a

'RAM SHYAM HARI SITA NITA RAMESH RAM'

In [48]:
a = "Ram Shyam Hari Sita Nita Ramesh Ram".lower()
search = input("Enter value for search ").lower()
if search in a:
    print("There is",search)
    print(a.count(search))
else:
    print("There is not",search)

Enter value for search RaM
There is ram
3

In [49]:
a = "Ram Shyam Hari Sita Nita Ramesh Ram"
a.lower()
print(a)

Ram Shyam Hari Sita Nita Ramesh Ram

In [50]:
a = "Ram Shyam Hari Sita Nita Ramesh Ram"
a = a.lower()
print(a)

ram shyam hari sita nita ramesh ram

In [52]:
# replace()
a = "Ram Shyam Hari Sita Nita Ramesh Ram"
a = a.replace('Ram','Shyam')
print(a)

Shyam Shyam Hari Sita Nita Shyamesh Shyam

In [53]:
# replace()
a = "Ram Shyam Hari Sita Nita Ramesh Ram"
a = a.replace('Ram','')
print(a)

 Shyam Hari Sita Nita esh